@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Press+Start+2P');

body {
  font-family: 'Press Start 2P', cursive, Arial, Helvetica, sans-serif;
}
.book-card:hover .book-card__info {
  opacity: 1;
  transform: translateY(0px);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100vw;
  height: 100%;
  transition: opacity 500ms;
  z-index: 10;
}

.popup {
    padding: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 500px;
    z-index: 100;
    overflow: scroll;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    position: relative;
    /* transition: all 5s ease-in-out; */
    margin: 70px auto;
    
}

ul {
  list-style-type: none;
  padding: 0;
}

.fields-container {
  display: flex;
}

.author-container {
  width: 60%;
  margin-right: 6%;
  font-size: 14px;
  line-height: 25px;
  margin-top: 10px;
}

.author-title {
  margin-bottom: 10px;
  font-size: 14px;
}
.field-input {
  width: 100%;
  padding: 6px;
  margin-bottom: 0;
  color: #000;
  border: 1px solid #000;
}
.field-input::placeholder {
  opacity: 0.5;
}
.remove-button {
  font-size: 10px;
  cursor: pointer;
  color:#000;
  border: 1px solid #000;
}
.remove-button:hover{
  background-color: #000;
  color: #fff;
}
.warning-alert {
  transition: all 5s ease-in-out;
  color: red;
}